@import-normalize; 

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Poppins';
  src: local('Poppins');
  font-weight: 400,
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');

}

@font-face {
  font-family: 'Poppins';

  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');

}